<template>
    <div>
        <h2>{{ title }} ({{ attachments.length }})</h2>
        <ul class="media-list">
            <li v-for="attachment in attachments" class="media">
                <div class="media-left">
                    <a href="javascript:void(0)">
                        <img class="media-object" :src="'https://dummyimage.com/40x40&text=' + attachment.metadata.ext" alt="">
                    </a>
                </div>
                <div class="media-body">
                    <p><a :href="'/platform/attachment/download/' + attachment.id">{{ attachment.filename }}</a></p>
                    <select @change="updateType(attachment, $event)" class="form-control">
                        <option v-for="attachmentType in attachmentTypes" :value="attachmentType.id" :selected="parseInt(attachmentType.id) === attachment.attachment_type_id">{{ attachmentType.name }}</option>
                    </select>
                </div>
                <div class="media-right">
                    <button class="btn btn-danger btn-sm" @click="remove($index, attachment)"><span class="fa fa-trash"></span></button>
                </div>
                <hr>
            </li>
        </ul>

        <div :id="'dropzone_' + project + '_' + client" class="dropzone"></div>
        <div class="form-group">
            <button class="btn btn-primary" @click="upload()"><span class="fa fa-upload"></span> Subir Archivo/s</button>
        </div>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                attachments: [],
                dropzone: null
            };
        },

        props: {
            client: Number,
            project: Number,
            title: String,
            attachmentTypes: Array
        },

        mounted() {
            this.$http.get('/platform/attachments/' + this.project + '/' + this.client)
                    .then((response) => {
                        this.attachments = response.data;
                    });

            this.dropzone = new Dropzone("div#dropzone_" + this.project + "_" + this.client, {
                url: "/platform/attachment/" + this.project  + "/" + this.client,
                autoProcessQueue: false,
                addRemoveLinks: true,
                headers: {
                    "X-CSRF-TOKEN": Laravel.csrfToken
                }
            });
            var that = this;
            this.dropzone.on('success', function (file, response) {
                that.dropzone.removeFile(file);
                that.attachments.push(response);
            });
        },

        methods: {
            upload: function() {
                this.dropzone.processQueue();
            },

            remove: function(index, attachment) {
                if (confirm('Esta seguro que desea eliminar este documento?')) {
                    this.$http.delete('/platform/attachment/' + attachment.id)
                            .then((response) => {
                                this.attachments.splice(index, 1)
                            });
                }
            },

            updateType: function(attachment, event) {
                this.$http.put('/platform/attachment/' + attachment.id, {
                    attachment_type_id: event.target.value
                })
                        .then((response) => {
                            attachment.attachment_type_id = parseInt(response.data.attachment_type_id);
                        });
            }
        }
    }
</script>