<template>
    <form class="form-inline" :action="action" @submit="send()" method="post">
        <input type="hidden" name="_token" :value="token" />
        <div class="form-group">
            <input type="text" class="form-control col-md-3" name="name" :placeholder="$t('form.your_name')" v-model="name"/>
        </div>
        <div class="form-group">
            <input type="email" class="form-control col-md-3" name="email" :placeholder="$t('form.your_email')" v-model="email" />
        </div>
        <div class="checkbox">
            <label>
                <input type="hidden" name="is_company" value="1" />
                <input type="checkbox" name="is_company" value="2" @click="is_company = !is_company" :checked="is_company"> Empresa?
            </label>
        </div>

        <div v-if="is_company">
            <div class="clearfix"></div>
            <div class="form-group">
                <input type="text" class="form-control col-md-4 col-md-offset-4" name="business" :placeholder="$t('form.your_company_name')" v-model="business" />
            </div>
        </div>

        <div class="clearfix"></div>
        <div class="form-group">
            <input type="file" class="form-control col-md-3" name="file" />
        </div>
        <p class="text-center">
            {{ $t('form.provide_your_attachment_msg') }}
        </p>

        <button type="submit" class="btn btn-lg btn-primary">{{ $t('form.create_project_submit') }}</button>
    </form>
</template>

<script>
    export default {
        data() {
            return {
                is_company: false,
                name: '',
                email: '',
                business: '',
                file: '',

                token: Laravel.csrfToken
            }
        },

        props: {
            action: String
        },

        mounted() {

        },

        methods: {
            send() {
                console.log('Sending');
            }
        }
    }
</script>